/* About.css */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    padding: 20px;
  }
  
  .about-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .about-section p {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.5;
  }
  