body, html {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff0db;
  scroll-behavior: smooth;
}

.content-section {
  padding: 50px 20px;
  max-width: 800px;
  margin: auto;
  min-height: 100vh; /* Each section takes at least full screen height */
}

.content-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
